@import "partials/variables";

body {
    margin: 0;
    background-color: $grey;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 500px;
}

.header {
    display: flex;
    height: 100px;
    width: 100vw;
    background-color: $navy;
    justify-content: flex-start;
    align-items: center;

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: $grey;
        margin: 20px;
    }


    nav {
        height: 20px;


        a {
            text-decoration: none;
            color: $grey;
            margin: 20px;
            font-size: 18px;
            font-weight: bold;
        }
    }


}

.btn-color {
    background-color: $orange;
    border-radius: 4px;
    border: 1px solid $orange;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        height: 30px;
        width: 120px;
    }
}

.account-container {

    margin: 30px;
    list-style: none;
    padding: 0;

    li {
        margin: 20px;
        background-color: $blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $grey;

        p {
            margin: 10px;
        }

        button {
            margin: 10px;

        }
    }
}


.login-box {
    display: flex;
    justify-content: center;
    background-color: $blue;
    height: 300px;
    width: 220px;


    form {

        display: flex;
        flex-direction: column;
        width: 170px;

        button {
            margin: 10px;
            margin-top: 50px;
            align-self: center;
            width: 100px;
        }

        h2 {
            align-self: center;
        }

    }

}

.hide-login-box {
    display: none;
}

.create-form-hide {
    display: none;
}

.registerBtn-hide {
    display: none;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $blue;
    width: 250px;
    height: 300px;
    margin: 50px;

    h2 {
        text-align: center;
    }

    input {
        width: 170px;
    }

    button {
        width: 100px;
        margin: 10px;
    }

}

.createAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: $blue;
    width: 400px;
    margin: 50px;

    form {
        width: 170px;
    }

    button {
        margin: 30px;
        align-self: center;
    }

    h2 {
        text-align: center;
    }
}